*{
    box-sizing: border-box}

 body {
    font-family: "Poppins", sans-serif;
    height: 100vh;

}
.header_wrapper{
   display: flex;
   padding-right: 10px;
   padding-left: 10px;
   justify-content: space-between;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: rgb(255, 255, 255, 0.2);
   height: 3.5rem;
}

.logo{
   width: 300px;
   height: 100;
   margin-top: 10px;
}
.logo img{
   width: 150;
   height: 40px;
}
.nav_navigation{
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   color: rgb(13, 51, 128);

}
.dCPDRY {
   justify-content: space-between;
   text-decoration: none;
   padding: 1rem;
   font-size: 1rem;
   color: #5089C6;
   cursor: pointer;

}
.dCPDRY:hover{
   color: #001E6C;
}
.c-uhfh{
   float: right;
   padding-right: 20px;
   display: flex;
}
.wf-menu a{
   justify-content: space-between;
   text-decoration: none;
   font-size: 1rem;
   color: #5089C6;
   cursor: pointer;
}
.search-button {
   width: 40px;
   height: 40px;
   position: absolute;
   display: flex;
   justify-content: right;
}
.search-button i{
   width: 20px;
   height: 20px;
   color:  rgb(13, 51, 128);
   position: absolute;
}


.teshfJ{
   margin-top: 2rem;
   margin-left: -5rem;
   padding: 2rem 3rem;
   background: linear-gradient(rgb(13, 51, 128));
   border-radius: 16px;
   border:  1px solid  #B8DFD8;
   visibility:hidden ;
   position: absolute;
   z-index: 1000;


}
.teshfJ li{
   padding:5px 20px;
   margin: 0;
   text-decoration: none;
   display: block;
   z-index: 9999;
   cursor: pointer;

}
.teshfJ li a{
   text-decoration: none;
   color: rgb(13, 51, 128);
   font-weight: 600;

}
.teshfJ  li a:hover{
   background:rgb(13, 51, 128) ;
   color: #fff;
   padding:10px 15px;
   border-radius: 15px;
}
.teshfJ.open{
   visibility: visible;
}
/*------------------- body----------------------------*/
main{
   display: block;
}

.main_wrapper{
   width: 100%;
   padding-top: 3.5rem;
   flex: 1 1 auto;
}
.Hero_Bg{
  width: 100%;
  height: 80vh;
  background-position: right 0px top 0px;
  background: url(../images/Office-365-1.jpg) no-repeat;
  background-size: cover;
} 

.container-sc{
   display: flex;
   justify-content: space-between;
   -webkit-box-pack: justify;
   margin-top: -3.5rem;
   padding-top: 8rem;
}

.fkpnB{
   width: 100%;
   padding-right: 1rem;
   padding-left: 1rem;
   margin-left: auto;
   margin-right: auto;

}
.dXGHNR{
   max-width: 30rem;
}
.cPSMqv{
   color:rgb(13, 51, 128) ;
   text-align: left;
   margin-bottom: 3rem;
}
.fyzpej{
   font-weight: 700;
   font-size: 3.5rem;
   line-height: 1.2;
   margin: 6rem 0px  4rem 4rem;
}

.jJZSxs{
   margin-bottom: 2rem;
   margin-left: 4rem;
   color:#5089C6 ;

}
.bjZbTh{
   color: #fff;
   height: 3.2rem;
   margin-left: 4rem;
}
.izjmN{
   border-radius: 1.7rem;
   display: inline-flex;
   background: rgb(13, 51, 128);
   padding: 10px 30px;
   align-items: center;
   -webkit-box-align: center;
   border: 1px solid transparent;
   font-size: 1rem;

}
.izjmN:hover{
   background: #2541B2 ;
}
.jJZSxs{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   text-align: left;

}
.scheme-wrapper{
   padding: 6rem 0px 3rem;
}




.ipgrjZ{
   width: 1200px;
   max-width: calc(100% - 40px);
   margin-left: auto;
   margin-right: auto;
   background: linear-gradient(rgb(232, 240, 255) 0%, rgb(255, 255, 255) 52.08%);
   border-radius: 16px;
   margin-top: 10rem;
   
}




.dgpcrE{
   justify-content: center;
   
}
.cNWjnB{
   max-width: 100%;
   width: 100%;
   position: relative;
   align-items: center;
   margin-bottom: 4rem;
   padding-top: 10rem;
   justify-content: center;
}
.jklinO{
   text-align: center;
   color:rgba(13, 51, 128);
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
    font-weight: 700;
}
.hlYNjb{
   justify-content: space-between;
   display: flex;
   align-content: flex-end;

}
.lkjeBy{
   align-content: center;
   padding-right: 5rem;
   padding-left: 5rem;
 
}
.vsfEip{
   justify-content: space-between;
   display: flex;
   padding-top: 10rerm;
   padding-bottom: 10rem;
}
.ewrvtY{
   align-items: center;
   padding-left: 1rem;
   padding-right: 1rem;
}
.erscTy{
   text-align: center;
   color:#5089C6;
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.2;
}


.Reference-wrapper{
   background: rgb(14, 21, 32);
   margin-top: 10rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
}
.hhIyKc{
   max-width: 38rem;
   text-align: center;
   margin: 6.25rem auto 2rem;

}
.fvjhAW{
   color: #fff;
   font-weight: 600;
   line-height: 4rem;
   text-align: center;
   font-size: 2.4rem;
}
.nlytiE{
   color: #fff;
   font-weight: 400;
   line-height: 2rem;
   text-align: center;
   font-size: 1rem;
}
.joKpsh{
   width: 1200px;
   max-width: calc(100% - 40px);
   margin-left: auto;
   margin-right: auto;
   background: linear-gradient(rgba(17, 93, 246, 0.15) 0%, rgba(232, 240, 255, 0) 100%);
   border-radius: 16px;
}
.gyrMG{
   margin: 0px auto;
   max-width: 48rem;
   padding-top: 6rem;
   padding-bottom: 6rem;
   display: flex;
   justify-content: space-between;
}
.aserEi{
   padding: 10px 30px;
   background:#5089C6 ;
   color: #fff;
   border-radius: 20rem;
   font-size: 1.2rem;
   text-align: center;
   cursor: pointer;
}
.aserEi:hover{
   background:#7C83FD ;
   transform: translateY(-2px);
   box-shadow: 10px 10px 5px #000;
}




.scheme-wrapper{
   padding: 6rem 0px 3rem;
}
.ipgrjZ{
   width: 1200px;
   max-width: calc(100% - 40px);
   margin-left: auto;
   margin-right: auto;
   background: linear-gradient(rgb(232, 240, 255) 0%, rgb(255, 255, 255) 52.08%);
   border-radius: 16px;
   
}
.group_img{
   display: flex;
   justify-content: space-between;
   justify-content: center;


}
.group_img li{
   margin-top: 20px;
   margin-right: 2rem;
   padding: 30px 20px;
   display: inline-block;
   border-radius: 16px;
   background:rgba(232, 255, 255, 0.2);
   box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
   background-filter: blur(2px);

}

.group_img li a{
   width: 355px;
   height: 266px;
   text-decoration: none;
   color:#7C83FD ;

}





.hgRim{
   margin: 6.8rem 0px 2.5rem;
   text-align: center;
}
.ecwJHx{
   font-weight: 700;
   font-size: 2.5rem;
   line-height: 1.2rem;
   color: rgb(13, 51, 128);
}
.hcnVve{
   margin-bottom: 7rem;
}
.kwaPdaY{
   cursor: pointer;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   user-select: none;
   padding: 1.25rem 1.2rem;
   border-radius: 0.5rem;
   background: transparent;
   justify-content: space-between;
   user-select: none;
}
.kqEqei{
   color: rgb(13, 51, 128);
   font-size: 1rem;
   font-weight: 700;
   line-height: 1.2rem;
   -webkit-transition: -webkit-transform 200ms;
   transition: transform 200ms;


}
.sign{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
   transform: rotate(90deg);
}
.sign.plus{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
}
.sign-2{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
   transform: rotate(90deg);
}
.sign-2.plus{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
}
.sign-3{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
   transform: rotate(90deg);
}
.sign-3.plus{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
}
.sign-4{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
   transform: rotate(90deg);
}
.sign-4.plus{
   width: 3px;
   height: 16px;
   margin-left: 1rem;
   display: block;
   background: rgb(13, 51, 128);
}
.yvPIk.open{
   visibility: visible;
}
.yvPIk{
   padding-top: 1.5rem;
   transition: all 0.3s ease-out;
   visibility: hidden;
}
.yvPIk-2.open-2{
   visibility: visible;
}
.yvPIk-2{
   padding-top: 1.5rem;
   transition: all 0.3s ease-out;
   visibility: hidden;
}
.yvPIk-3.open-3{
   visibility: visible;
}
.yvPIk-3{
   padding-top: 1.5rem;
   transition: all 0.3s ease-out;
   visibility: hidden;
}
.yvPIk-4.open-4{
   visibility: visible;
}
.yvPIk-4{
   padding-top: 1.5rem;
   transition: all 0.3s ease-out;
   visibility: hidden;
}

.hTixyz{
   padding: 0px 1.5rem;
}
.jWOvMw{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.4rem;
   color: rgb(96, 105, 119);
   text-align: left;
   margin-bottom: 1rem;
   transition: all 0.3s ease-out;
}
.jWOvMw li {
   padding: 1.25rem 1.2rem ;
}
.jWOvMw li a{
   text-decoration: none;
   color: #393E46;
}
.bMDZR{
   position: relative;
   background: #fff;
   margin-top: 2rem;
   padding-top: 2rem;
   padding-bottom: 1rem;
   display: flex;
   align-items: center;
   color: rgb(96, 105, 119);
   line-height: 1.85;
   font-size: 0.75rem;
   z-index: 1;
   border-top: 1px solid rgb(233, 236, 238);
}
.fdjXaM{
   display: grid;
   grid-template-columns: 90px 1.5fr 3fr 2fr 2fr 2fr ;
   gap: 3rem 2rem;
   margin-bottom: 1rem;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 2rem;
}
.content_Headline{
   font-size: 1.2rem;
   font-weight: 600;
   line-height: 1.7rem;
   color: rgb(17, 51, 128);
   margin-bottom: 1rem;
}
.fdjXaM a{
   text-decoration: none;
   font-size: 12px;
   color: #77ACF1;
   padding-top: 20px;
}
.isBuDt{
   display: flex;
   margin-top: 4rem;
   justify-content: space-between;
   font-weight: 400;
   font-size: 0.87rem;
   align-items: center;
 
   text-decoration: none;
   
}
.isBuDt a{
   text-decoration: none;
     color:#77ACF1 ;
}






@media(min-width: 992px) and (max-width: 1180){
   .image-wrapper{
      margin: -2rem 0px 0px;
   }
}
@media(min-width: 992px){
   .dgpcrE{
      flex-direction: row-reverse;
   }
}
@media(max-width: 1200px){
   .bMDZR{
      max-width: 65rem;
   }
}
@media(min-width: 1200px){
   .fkpnB{
      flex-direction: row-reverse;
      display:inline;
   }
   }